<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>

        <meta property="og:title" content="Nightingale Poetry">
        <meta property="og:type" content="article">
        <meta property="og:url" content="http://nightingalepoetry.com/{{filename}}">
        <meta property="og:image" content="http://nightingalepoetry.com/images/nightingalelogo.png">
        <meta property="og:site_name" content="Nightingale Poetry">
        <meta property="og:description" content="Crafted poetry agency">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@00nightingale00">
        <meta name="twitter:title" content="Nightingale Poetry">
        <meta name="twitter:description" content="Crafted poetry agency">
        <meta name="twitter:image:src" content="http://nightingalepoetry.com/images/nightingalelogo.png">
        <meta name="twitter:domain" content="nightingalepoetry.com">

		<link href="css/nightingale.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>


    </head>
    <body class="nightingale nojs">
        <script src="js/nojs.js"></script>
        <header class="header" role="banner">
            <div class="header-wrapper">
                <a href="/" alt="home" class="site-logo">
                    <image src="images/nightingalelogo.png" alt="Nightingale Poetry logo"/>
                </a>
            </div>
            <nav class="nav" role="nav">
                <div class="nav-wrapper">
                    <ul class="nav-links">
                        <li>
                            <a href="/">About Us</a>
                        </li>
                        <li>
                            <a href="/">Poems</a>
                        </li>
                        <li>
                            <a href="/">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {{> body }}
        <footer class="footer" role="contentinfo">
            <span class="site-tagline">
                Crafted Poetry Agency
            </span>
            <ul class="site-info">

                <li>
                    07828 915814
                </li>
                <li>
                    <a href="mailto:info@nightingalepoetry.com">
                        info@nightingalepoetry.com
                    </a>
                </li>
                <li class="social facebook">
                    <a href="https://www.facebook.com/NightingalePoetry">
                        <img src="images/facebook_black-copy.png"/>
                    </a>
                </li>
                <li class="social twitter">
                    <a href="https://twitter.com/00NIGHTINGALE00">
                        <img src="images/twitter-bird-black.png"/>
                    </a>
                </li>
            </ul>
        </footer>
    </body>
	<script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="js/nightingale.js"></script>
</html>