#u940-4_img,#u942-4_img,#u943-4_img,#u944-4_img,#u945-4_img,#u951-4_img
{
	display: block;
	vertical-align: top;
}

#u2281-6
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u947,#u966
{
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u937,#u940-4,#u942-4,#u943-4,#u944-4,#u945-4,#u951-4,#u1564,#u1558
{
	position: relative;
}

